*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font: inherit;
}

html,
body {
  font-family: 'Poppins';
  font-weight: normal;
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}